credentials.txt
*.txt
crypter/tests/__pycache__
crypter/tests/__pycache__/*
crypter/__pycache__
crypter/__pycache__/*
notes.md
.pypirc
dist/
dist/*
chameleoncrypter.egg-info/
chameleoncrypter.egg-info/*